.checkWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 1%;
}

.checkWords > h2 {
    font-size: 30px;
    color: #d3f4f8;
}

.englishWord {
    font-size: 45px;
    font-weight: bold;
    margin: 3% 0 5%;
    color: white;
}

.buttonsWords {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttonsWords button {
    font-size: 30px;
    background-color: #32678a;
    color: white;

    border: none;
    border-radius: 25px;
    padding: 2%;
    transition: 300ms;
}

.buttonsWords button:hover,
.result button {
    color: #d2d2e1;
    transform: scale(1.2);
    cursor: pointer;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result > h2 {
    color: white;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.result > button {
    font-size: 30px;
    border-radius: 25px;
    padding: 5%;
    margin-top: 20%;
    background-color: #32678a;
    color: white;
}