.oneTest {
    border: 1px solid #bba9a9;
    box-sizing: border-box;
    padding: 1%;
}

.oneTest span {
    font-weight: bold;
}

.good {
    background-color: green;
}

.bad {
    background-color: red;
}