.homeBlock {
    display: flex;
    justify-content: center;
}

.homeBlock h2 {
    text-align: center;
    font-size: 30px;
}

.dictionary {
    margin: 1%;
    color: white;
    background-color: #32678a;
    border-radius: 25px;
}

.allWords {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 40vh;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.allWords::-webkit-scrollbar {
    display: none;
}

.allGeneralTests {
    height: 50vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.historyMenu {
    width: 50vw;
    margin: 5% 0 0 5%;
    background-color: #32678a;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.activity {
    margin: 4%;
    padding: 1% 2% 3.5%;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #32678a;
    color: white;
}

.graph {
    display: flex;
    align-items: center;
}

.graph p {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-size: 15px;
    font-family: "Times New Roman", serif;
    margin: 0;

}

.goodAnswers {
    color: white;
    background-color: #32678a;
    border-radius: 25px;

    padding: 0 15%;
    margin-bottom: 5%;
}

.goodAnswersHeader {
    margin: 5% 0;
}

.goodAnswersPie {
    display: flex;
    align-items: center;
    text-align: center;
    width: 25vw;
    margin: 5% 0;
}




