.layoutHeader {
    display: flex;
    justify-content: space-evenly;
    background-color: #6a65e2;
    color: white;

    box-sizing: border-box;
}

.layoutHeader a {
    font-size: 40px;
    font-weight: bold;
    margin: 2%;
    color: white;
}

.layoutHeader a:hover {
    color: black;
}